<ion-header>
  <ion-toolbar>
    <ion-title>
      Agenda de Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list  padding class="listagem">
    <ion-item-sliding *ngFor = "let item of contatos">
      <ion-item lines="none" class="itens"><ion-text color="dark">Nome: {{item.nome}}</ion-text></ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="irParaDetalharPage(item)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <!--
      <ion-item lines="none" class="itens"><ion-text color="dark">Telefone: {{item.telefone}}</ion-text></ion-item>
      <ion-item lines="none" class="itens"><ion-text color="dark">Genero: {{item.genero}}</ion-text></ion-item>
      <ion-item class="itens"><ion-text color="dark">Data de Nascimento: {{item.data_nascimento}}</ion-text></ion-item>
      -->
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="irParaCadastroPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>